fastapi
uvicorn[standard]
gunicorn
python-multipart
python-dotenv
PyJWT[crypto]
cryptography
PyMuPDF
pypdf
pinecone
langchain
langchain-community
langchain-pinecone
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
openai
supabase
motor
dnspython
redis[asyncio]