fastapi
uvicorn
python-multipart
sqlalchemy
google-genai
pinecone
python-dotenv
PyMuPDF
python-jose
passlib
sentence-transformers
langchain
langchain-community
langchain-pinecone
langchain-google-genai
pypdf
supabase
langchain-openai
openai
langchain-classic